
/* Globla Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
  }

  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }

  
/*Components Styles*/

.App {
    background-color: #8cc7d0;
    width: 100%;
    height: 100vh;
}


#container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 40vmin;
    margin: 10% 10%;
    padding: 2% 2%;
    border-radius: 20px;
    text-align: justify;
    background-color: #fff;
}

#form {
    width: 30vw;
    height: 30vmin;
    color: white;
}

#result {
    
    color: white;
    width: 30vw;
    height: 30vmin;
    border-radius: 10px;
    background-color: #013e07;
}






















/* Medium screens */
@media all and (max-width: 800px) {
    .container {
        flex-flow: column wrap;
        padding: 0;
        justify-content: space-around;
      
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .container {
      flex-direction: column;
    }
  }