
/* Globla Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
  }

  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }

/*Components Styles*/

.App {
    background-color: #8cc7d0;
}

.home {
    display: flex;
    align-items:stretch;
}

#container {
    display: flex;
    align-items: stretch;
    width: 90%;
    height: 50vh;
    margin: 15px 10px;
    padding: 20px 20px;
    border-radius: 20px;
    text-align: justify;
    background-color: #fff;
}

#form {
    display: flex;
    align-content: stretch;
    color: white;
}

#result {
    display: flex;
    align-content: stretch;
    color: white;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    background-color: #013e07;
}