
/* Globla Styles */

:root {
  --dark-green: #4b783d;
  --light-green: #51da16;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #29292e;
  }

  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
  }

  
/*Components Styles*/

.App {
    background-color: #8cc7d0;
    width: 100%;
    height: 100vh;
}


#container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 40vmin;
    margin: 10% 10%;
    padding: 2% 2%;
    border-radius: 20px;
    text-align: justify;
    background-color: #fff;
}

#form {
  display: flex;
  width: 30vw;
  height: 30vmin;   
  color: white;
}

#result {
    
    color: white;
    width: 30vw;
    height: 30vmin;
    border-radius: 10px;
    background-color: #013e07;
}


/*Components' Children*/
.color {
  color: var(--dark-green);
}

#btns {
  
}

.btn {
  display: inline-block;
  order: 3;
  padding:0.35em 1.2em;
  border:0.1em solid #0c4401;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:800;
  font-size: 1rem;
  background-color: var(--dark-green);
  color: #fff;
  text-align:center;
  transition: all 0.2s;
}



















/* Medium screens */
@media all and (max-width: 800px) {
    .container {
        flex-flow: column wrap;
        padding: 0;
        justify-content: space-around;
      
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .container {
      flex-direction: column;
    }
  }


  @media all and (max-width:30em){
     .btns {
      display: block;
      margin: 0.4em auto;
    }
  }